<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cards Component</title>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
    <script
      defer
      src="https://kit.fontawesome.com/6d1426eb41.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="popular-destinations">
      <h2>Popular destinations</h2>
      <div class="destination-cards horizontal-slider">
        <div class="card">
          <div
            class="card-image"
            style="background-image: url('./img/mountain.jpg')"
            ;
          >
            <div class="heart">
              <i class="fas fa-heart"></i>
            </div>
            <div class="price">
              <p>$499</p>
            </div>
          </div>
          <div class="card-text">
            <h3>Chilly Mountains</h3>
            <p>
              Discover what rest really means at these beautiful, cold
              mountains.
            </p>
            <p>1 week - Alaska, USA</p>
          </div>
        </div>
        <div class="card">
          <div
            class="card-image"
            style="background-image: url('./img/japan.jpg')"
          >
            <div class="heart">
              <i class="fas fa-heart"></i>
            </div>
            <div class="price">
              <p>$499</p>
            </div>
          </div>
          <div class="card-text">
            <h3>Japanese Rest</h3>
            <p>
              Discover what rest really means at these beautiful, cold
              mountains.
            </p>
            <p>1 week - Alaska, USA</p>
          </div>
        </div>
        <div class="card">
          <div
            class="card-image"
            style="background-image: url('./img/pyramid.jpg')"
          >
            <div class="heart">
              <i class="fas fa-heart"></i>
            </div>
            <div class="price">
              <p>$499</p>
            </div>
          </div>
          <div class="card-text">
            <h3>By The Lake</h3>
            <p>
              Discover what rest really means at these beautiful, cold
              mountains.
            </p>
            <p>1 week - Alaska, USA</p>
          </div>
        </div>
        <div class="card">
          <div
            class="card-image"
            style="background-image: url('./img/city.jpg')"
          >
            <div class="heart">
              <i class="fas fa-heart"></i>
            </div>
            <div class="price">
              <p>$499</p>
            </div>
          </div>
          <div class="card-text">
            <h3>Urban Experience</h3>
            <p>
              Discover what rest really means at these beautiful, cold
              mountains.
            </p>
            <p>1 week - Alaska, USA</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
