* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}

:root {
  --light-grey: #b3bac3;
  --dark-blue: #001a38;
  --blue: #0077ff;
  --blue-shadow: #0077ff50;
  --white: #fff;
  --very-light-grey: #eaedf0;
  --dark-shadow: #00000025;
  --easy-dark-shadow: #00000015;
  --dark-grey: #666;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--very-light-grey);
}

/* BACK BUTTON */

.nav {
  position: absolute;
  top: 25px;
  left: 25px;
}

.nav .button {
  background-color: var(--dark-blue);
  padding: 15px 30px;
  font-size: 1em;
  border-radius: 5px;
  color: var(--white);
}

/* POPULAR DESTINATIONS */

.popular-destinations {
  margin: 3em auto;
  background: var(--white);
  padding: 75px 100px;
  border-radius: 10px;
}

.destination-cards {
  display: flex;
  margin-top: 2em;
  gap: 2em;
}

.card {
  width: 225px;
  border-radius: 15px;
  box-shadow: 0 15px 50px var(--easy-dark-shadow);
  padding: 0.75em;
  transition: 0.15s ease-in;
  margin: 0;
  scroll-snap-align: center;
}

.card:hover {
  box-shadow: 0 15px 50px var(--easy-dark-shadow);
  transform: translateY(-5px);
}

.card-image {
  background-size: 300px auto;
  margin: 0;

  background-position: center top;
  border-radius: 10px;
  height: 180px;
  position: relative;
}

.card h3 {
  color: var(--dark-blue);
}

.card .heart {
  background: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 15px var(--dark-shadow);
}

.card .heart i {
  font-size: 0.9em;
  color: var(--blue);
  line-height: 1em;
  margin: 0.5em;
}

.card .price {
  background: #ffffff10;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 15px var(--dark-shadow);
}

.card .price p {
  color: white;
  font-size: 0.8em;
  margin: 0.5em 0.75em;
}

.card-text {
  margin: 0.75em 0.5em 0.25em 0.5em;
}

.card h3 {
  margin-top: 0.5em;
  font-size: 1.4em;
  font-weight: 500;
}

.card p {
  font-size: 0.8em;
  color: var(--dark-grey);
  margin: 1em 0 0 0;
}

@media screen and (max-width: 1350px) {
  /* HORIZONTAL SLIDER */

  .popular-destinations {
    padding: 0;
    border-radius: 0px;
  }

  .popular-destinations h2 {
    padding: 25px;
  }

  .horizontal-slider {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1em;
    overflow-x: scroll;
    padding: 2em 0 3em 0;
    scroll-snap-type: x mandatory;
    margin: 0;
  }

  .horizontal-slider:before,
  .horizontal-slider:after {
    content: "";
    width: 2em;
  }

  /* HORIZONTAL SLIDER CUSTOM SCROLLBAR*/

  .horizontal-slider::-webkit-scrollbar {
    height: 5px;
  }

  .horizontal-slider::-webkit-scrollbar-track {
    background: transparent;
  }

  .horizontal-slider::-webkit-scrollbar-thumb {
    background: var(--light-grey);
    border-radius: 20px;
  }

  .horizontal-slider::-webkit-scrollbar-thumb:hover {
    background: var(--dark-blue);
  }

  .popular-destinations {
    margin: 0;
    width: 100%;
  }

  main {
    padding: 0 !important;
  }
}
