<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kanban Component</title>
    <link rel="stylesheet" href="css/style.css" />
    <script defer src="js/script.js"></script>
  </head>
  <body>
    <header>
      <div class="title">
        <div class="header-wrapper">
          <h1>Simple Project Management</h1>
        </div>
      </div>
      <div class="subheader">
        <div class="subheader subheader__view">
          <a href="#">Kanban</a>
        </div>
      </div>
    </header>
    <main>
      <div class="kanban-container">
        <div class="stage-container"></div>
        <div class="kanban-stage new-stage-container">
          <div class="kanban-card new-card-container">
            <form>
              <input type="text" class="new-stage-name form-input" />
              <button class="button new-stage-button">+ Add new stage</button>
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
